<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Layout</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body data-layout="with-sidebar" data-layout-props="side:left ">
    <aside data-layout="box" data-layout-props="invert border:0">
        aside
    </aside>
    <main data-layout="box" data-layout-props="border:0">
        main
    </main>
</body>

</html>