<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body data-layout="cover" data-props="intrinsic">
    <header data-layout="center">
        <a href="..">Go back</a>
    </header>
    <nav data-layout="stack center" data-props="centered">
        <a href="side-to-bottom-bar/index.html">side-to-bottom bar</a>
        <a href="sidebar-menu/index.html">sidebar-menu</a>
    </nav>
</body>
</html>